#cím{
    text-align: center;
    font-weight: 900;
    font-size: 100px;
    color: whitesmoke;
}
#kép{
    border-bottom: 20px;
    max-width: 350px;
    
}
p{
    font-weight: bold;
}
body{
    background-color: #cc6600;
}
input{
    background-color: #ffb366;
}
h1{
    text-align: center;
}