#cím{
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
}
#kép{
    border-bottom: 20px;
}
#kép2{
    border-bottom: 20px;
}
#kép3{
    border-bottom: 20px;
}
#kép4{
    border-bottom: 20px;
}
p{
    font-weight: bold;
}
body{
    background-color: #cc6600;
}
input{
    background-color: #ffb366;
}
h1{
    text-align: center;
}